<main class="contenedor panel-administracion body1">
  <div class="tarjeta tarjeta-administrador">
    <h1 class="titulos">Panel Administrador</h1>

    <a href="/nuevo-post">
      <button class="button is-success">Nuevo Post</button>
    </a>
    <a href="/nuevo-evento">
      <button class="button is-primary">Nuevo Evento</button>
    </a>
    <a href="/nueva-publicacion">
      <button class="button is-warning">Nueva publicacion</button>
    </a>

  </div>
 
  <div class="tarjeta-publicaciones">
    <div class="tarjeta">
      <h2 class="titulos">Publicaciones</h2>
      <ul>
        <% if(publicaciones.length) { %>
          <% publicaciones.forEach(publicaciones => { %>
            <li>
              <div>
                <% moment.locale('es') %>
                <p class="fecha">Fecha Creación: <%= moment(publicaciones.fecha).format('LL');  %></p>
                <h4><b>Titulo: <%= publicaciones.titulo %></b></h4>
                <small><%= publicaciones.asistencia.length %>  Confirmación de Asistencia</small>
              </div>
              <div>
                <a href="/editar-publicacion/<%= publicaciones.id %>" class="button is-success">
                  Editar
                </a>
                <a href="/asistencia-publicaciones/<%= publicaciones.id %>" class="button is-info">
                  Ver Asistencia
                </a>
                <a href="/eliminar-publicacion/<%= publicaciones.id %>" class="button is-danger">
                  Eliminar
                </a>
              </div>
            </li>
          <% }) %>
        </ul>
      <% } else { %>
        <b><p>No tienes Publicaciones Creadas Actualmente</p></b>
      <% } %>
  </div>
  
  <div class="tarjeta">
      <h2 class="titulos">Post Realizadas</h2>
      <ul>
        <% if(post.length) { %>
          <% post.forEach(post => { %>
            <li>
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="/uploads/post/<%= post.imagen %>" width="60" /></figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                    </div>
                    <div class="media-content">
                      <p class="title is-4"><%= post.nombrepost %></p>
                    </div>
                  </div>
                  <div>
                    <a href="/editar-post/<%= post.id %>" class="button is-success">
                      Editar
                    </a>
                    <a href="/imagen-post/<%= post.id %>" class="button is-info">
                      Imagen
                    </a>
                    <a href="/eliminar-post/<%= post.id %>" class="button is-danger">
                      Eliminar
                    </a>
                  </div>
                </div>
              </div>
            </li>
          <% }) %>
        </ul>
      <% } else { %>
        <p>No tienes Post Actualmente</p>
      <% } %>
    </div>
  </div>
 
</main>
