<main class="contenedor panel-administracion body1">
  <div class="tarjeta ">
    <h1 class="titulos">Panel Administrador</h1>
    <div class="button-container">

      <button class="custom-button btn-color-cate" onclick="redireccionar('/nuevo-post')">Nueva Cartegoria</button>
      <button class="custom-button btn-color-public" onclick="redireccionar('/nueva-publicacion')">Nueva Publicacion</button>
    </div>
  </div>
  <div class="carta-fondo">
    <h2 class="titulo-carta">Publicaciones</h2>
    <div class="card-container">
      <% if(publicaciones.length) { %>
        <% publicaciones.forEach(publicaciones => { %>
                <div class="card">
                    <div class="container">
                      <p class="fecha">Fecha Creaci贸n: <%= moment(publicaciones.fecha).format('LL');  %></p>
                      <h1 class="titulo-post"><%= publicaciones.titulo %></h1>
                      <small></small>
                      <p class="configuracion-asistencia"><%= publicaciones.asistencia.length %>  Confirmaci贸n de Asistencia</p>
                    </div>
                    <!-- CARBIAR EL EDITAR IMAGEN PARA QUE PUEDA ESTAR DENTRO DE  EDITAR Y SOLO QUEDARIAN 3 BOTONES V+AGREGAR PUBLICACION , EDITAR Y ELIMINAR-->
                    <div class="button-edicion">
                        <button class="custom-categorias btn-color-edit" onclick="redireccionar('/editar-publicacion/<%= publicaciones.id %>')">Editar</button>
                        <button class="custom-categorias btn-color-ver" onclick="redireccionar('/asistencia-publicaciones/<%= publicaciones.id %>')">Ver Asistencia</button>
                        <button class="custom-categorias btn-color-eliminar" onclick="redireccionar('/eliminar-publicacion/<%= publicaciones.id %>')">Eliminar</button>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <p class="no-post-message">No tienes Publicaciones Actualmente</p>
        <% } %>
    </div>
</div>

  <div class="carta-fondo">
    <h2 class="titulo-carta">Categorias</h2>
    <div class="card-container">
      <% if(post.length) { %>
        <% post.forEach(post => { %>
          <div class="card">
            <img class="card-image" src="/uploads/post/<%= post.imagen %>" alt="Avatar" style="width:100%">
            <div class="container">
              <h1 class="titulo-post"><b><%= post.nombrepost %></b></h1>
              <p class="descripcion-post">Descripci贸n</p>
            </div>
            <div class="button-edicion">
              <button class="custom-categorias btn-color-edit" onclick="redireccionar('/editar-post/<%= post.id %>')">Editar</button>
              <button class="custom-categorias btn-color-public" onclick="crearNuevaPublicacion('<%= post.id %>')"> Nueva Publicaci贸n</button>

              <button class="custom-categorias btn-color-eliminar" onclick="redireccionar('/eliminar-post/<%= post.id %>')">Eliminar</button>
            </div>
          </div>
        <% }) %>
      <% } else { %>
        <p class="no-post-message">No tienes Categorias Actualmente</p>
      <% } %>
    </div>
  </div>
  
  <script>
    function redireccionar(url) {
        window.location.href = url; 
    }
    function crearNuevaPublicacion(postId) {
  window.location.href = `/nueva-publicacion?selectedPostId=${postId}`;
}
</script>
</main>
