<main class="contenedor-formularios">

    <form class="default-form" method="POST">
        <h1 class="titulos"><%- nombrePagina %></h1>
        <div class="form-group">
            <label for="postId">Categoria Relacionada</label>
            <select name="postId" id="postId"  class="input select">
                <option value="" disabled selected>-- Seleccionar Categoria --</option>
                <% if (post.length > 0) { %>
                    <% post.forEach(post => { %>
                        <option <%= (publicaciones.postId === post.id) ? 'selected' : '' %> value="<%= post.id %>"><%= post.nombrepost %></option>
                    <% }) %>
                <% } %>
            </select>
        </div>
        <div class="form-group">
            <label for="titulo">Titulo del Post</label>
            <input class="input" type="text" name="titulo" id="titulo" value="<%= publicaciones.titulo  %>" required>
        </div>
        <div class="form-group">
            <label for="invitado">Invitado</label>
            <input class="input" type="text" name="invitado" id="invitado" placeholder="Nombre Invitado (Cantante, Animador etc)" value="<%= publicaciones.invitado  %>" >
        </div>
        <div class="columnas-2 grid">
            <div class="form-group">
                <label for="fecha">Fecha</label>
                <input class="input" type="date" name="fecha" id="fecha" value="<%= publicaciones.fecha  %>" required>
            </div>
            <div class="form-group">
                <label for="hora">Hora</label>
                <input class="input" type="time" name="hora" id="hora" value="<%= publicaciones.hora  %>" required>
            </div>
        </div>
        <div class="form-group">
            <label for="descripcionBreve">Descripción Breve</label>
            <input class="input" type="text" name="descripcionBreve" id="descripcionBreve" value="<%= publicaciones.descripcionBreve  %>"  placeholder="Descripción Breve Sobre el Evento" required>
        </div>
        <div class="form-group descripcion">
            <label for="descripcion">Descripción</label>
            <div class="contenedor-editor">
                <input type="hidden" id="x" name="descripcion" value="<%= publicaciones.descripcion  %>">
                <trix-editor input="x"></trix-editor>
            </div>
        </div>
        <div class="form-group">
            <label for="direccion">Dirección</label>
            <input class="input" type="text" id="direccion" name="direccion" placeholder="Dirección"  value="<%= publicaciones.direccion  %>" required>
        </div>
        <div class="form-group enviar">
            <input type="submit" class="custom-editpublic btn-color-crecate" value="Guardar Publicación">
        </div>
    </form>
</main>
<style>
.form-group {
    margin: 10px 0;
    text-align: left;
}
.custom-editpublic {
    border: 2px solid #3498db;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
} 

.btn-color-crecate{
    border: 2px solid #0051ff; 
    background-color: #0051ff;
    border-radius: 6px;
    font-weight: bold; 

}
.enviar {
  text-align: center;
}
.default-form {
  text-align: center;
  max-width: 800px;
  max-height: 1050px;
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.columnas-2 {
  display: flex;
  justify-content: space-between;
}
.contenedor-formularios {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  margin-top: 15px;
  margin-bottom: 5px;
}
.titulos{
    font-size: 2.2rem;
}
</style>
